@import url("https://fonts.googleapis.com/css2?family=Unna&family=Satisfy&display=swap");
@import url("https://cdn.rawgit.com/peyman3d/koochak/V0.10.2/dist/koochak.css");
$ff: "Unna";

/// RESET
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}

/// APP
.App {
  display: flex;
  height: 100vh;
  width: 100vw;

  > .left {
    flex: 0 0 400px;
    box-shadow: 3px 0 10px rgba(#000, 0.1);
    position: relative;
    z-index: 100;
  }
}

/// HEADER
header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #e7e7e7;

  .title {
    font-size: 32px;
    font-family: Satisfy;
    color: #009688;
  }
}

/// IMAGE
.image {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.quote {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: #ffffff;
  padding: 300px 50px 50px;
  display: flex;
  justify-content: center;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(#000, 0.9),
      rgba(#000, 0.6),
      transparent
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .content {
    width: 70%;
  }
  .text {
    font-family: $ff;
    text-shadow: 1px 1px 1px rgba(#000, 0.2);
    font-size: 1.4rem;
    margin-bottom: 15px;
    line-height: 1.3;
  }
  .author {
    font-family: Satisfy;
    text-align: right;
    font-size: 1.2rem;
  }
}

/// TODO
.todo {
  padding: 50px;
}

.empty {
  text-align: center;
  color: #999999;
  font-family: monospace;
  font-size: 13px;
  padding: 30px;
  border: 1px dashed #e7e7e7;
  margin-top: 20px;
}

ul.todo-list {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;

  li.item {
    display: flex;
    align-items: center;
    padding: 0;

    label {
      padding: 0 5px;
      margin-left: 10px;
      position: relative;
      color: #9191a7;
      position: relative;
    }

    input:checked + label {
      color: #dadae6;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        border-top: 1px solid #dadae6;
      }
    }
  }
}
